
html, body {
    height: 100%;
}


footer {
    height: 100%;
    background-color: #555;
    color: white;
    padding: 15px;
}

h1 {
    color: orangered;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

#myCarousel {
    data-interval: false;
}

.carousel-indicators li {
    border-color: #555;
    background-color: #ccc;
}

.carousel-indicators .active {
    background-color: #555;
}

a, a:hover, a:active {
    color: forestgreen;
}

img.figure {
    width: 100%;
    height: auto;
}

figcaption {
    font-size: x-small;
    color: #555;
}

.ymax {
    height: 100%;
}

